.footer {
    margin-top: auto;
    background-color: #029491;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: white;
  }

  
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%; // добавить этот стиль чтобы контент прижался к краям
  }
  
  .contact-info {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2; 
    letter-spacing: 1%;
    margin-bottom: 10px; 
    text-align: right;
  }
  
  .copyright {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
  